@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

/* 
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
   */

@media screen and (max-width: 500px) {
  #title-msg-container {
    font-size: 3.5rem !important ;
  }
}
*,
*::before,
*::after {
  margin: 0;
  font-family: "Grandstander", cursive;
  box-sizing: border-box;
  background-color: #f3f3f3;
}
.title {
  font-family: "Modak", cursive;
  font-size: 4.75rem;
  position: absolute;
  margin-top: -9rem;
  margin-left: -3rem;
  min-width: 500px;
  text-shadow: 7px 7px 0px #d2d2d22e;
  animation: title 2s ease-in-out alternate infinite;
}

@keyframes title {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
